import { initializeApp } from 'firebase/app'
import { getAuth } from 'firebase/auth'

const cfg = {
  apiKey: 'AIzaSyAojHzymVMrqZB3Qh9Gt89pPHMt0O2DvJE',
  authDomain: 'travel-planner-70ce2.firebaseapp.com',
  projectId: 'travel-planner-70ce2',
  storageBucket: 'travel-planner-70ce2.firebasestorage.app',
  messagingSenderId: '624610220324',
  appId: '1:624610220324:web:b41c7704028c4a7712fbb1'
}

const app = initializeApp(cfg)
export const auth = getAuth(app)
export default app